* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  width: 10px;
}

/* Track */
html::-webkit-scrollbar-track {
  display: none;
  width: 4px;
}

/* Handle */
html::-webkit-scrollbar-thumb {
  background-color: #2a2a2a;
  border-radius: 20px;
  transition: 0.5s;
  width: 4px;
}

/* Handle on hover */
html::-webkit-scrollbar-thumb:hover {
  background-color: #6d6d6d;
}

:root {
  --paddingFromSide: 120px
}

a {
  text-decoration: none;
}

body {
  background-color: #121212;
  font-family: Inter, sans-serif;
}

.nav-bar {
  background-color: #121212;
  padding: 20px var(--paddingFromSide);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar>.left,
.right,
ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-bar a {
  color: #f5f5f5;
  transition: .4s;
}

.nav-bar .search-box {
  margin: 0 10px 0 40px;
}

.nav-bar .search-box i {
  color: #f5f5f599;
  margin-right: -35px;
  z-index: 4;
  font-size: 14px;
  position: relative;
}

.nav-bar .search-box input {
  width: 230px;
  height: 40px;
  border-radius: 80px;
  z-index: 3;
  background-color: #202020;
  border: none;
  color: #f5f5f599;
  outline: none;
  padding: 0 0 0 40px;
  transition: 0.3s;
}


.nav-bar .search-box input:focus {
  background-color: #2a2a2a;
}

.nav-bar.mobile {
  display: none;
}



.nav-bar .navi-links li a {
  /* margin: 0 20px; */
  color: #6d6d6d;
  padding: 0 10px;
  font-size: 14px;
}

.nav-bar .navi-links li a:hover {
  color: #f5f5f5;
}

main {
  padding: 20px var(--paddingFromSide);

}

#feature {
  display: flex;
  padding: 20px var(--paddingFromSide);

}

#feature .main-display {
  width: 80%;
  border-radius: 20px;
  overflow: hidden;
  color: #f5f5f5;
  position: relative;
}

#feature .main-display img {
  width: 100%;
  margin-bottom: 10px;
}

#feature .main-display .captions {
  width: 50%;
  position: absolute;
  padding: 0px 0px 30px 20px;
  bottom: 10px;
  left: 10px;
}

#feature .main-display .captions p.sub {
  font-size: 14px;
  text-transform: uppercase;
  margin: 10px 0;
}

#feature .main-display .captions p {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 500;
}

#feature .main-display .captions button {
  padding: 15px 50px;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 12px;
}

#feature .main-display .captions img {
  width: 40%;
}

#feature .indicators {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding-left: 40px;
}

#feature .indicator-item {
  position: relative;
  background-color: #202020;
  border-radius: 8px;

}

#feature .indicator-item.active::after {
  content: "";
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  width: 0%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #2a2a2a;
  animation: progress 5s linear infinite;
  animation-delay: calc(5s * var(--ad));
}


#feature .progress-bar {
  display: flex;
  color: #f5f5f5;
  padding: 10px;
  align-items: center;
  z-index: 2;
  font-size: 10px;
  position: relative;

}

#feature .indicator-item .icon-logo {
  min-width: 30%;
  max-width: 30%;
  margin-right: 10px;
}

#feature .indicator-item img {
  width: 100%;
  border-radius: 3px;
}


#feature-mobile {
  display: none;
}

.product-row {
  color: #f5f5f5;
}

.product-row h4 {
  font-weight: normal;
}

.card-wrap {
  margin: 20px 0;
  scroll-snap-type: x mandatory;
  display: flex;
  overflow-x: scroll;
}

.product-row i {
  color: #6d6d6d;
  margin-left: 3px;
  font-size: 12px;
}

/* width */
.card-wrap::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.card-wrap::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
.card-wrap::-webkit-scrollbar-thumb {
  display: none;
}

/* Handle on hover */
.card-wrap::-webkit-scrollbar-thumb:hover {
  display: none;
}

.game-card {
  min-width: 180px;
  margin: 0 20px 0 0;
  scroll-snap-align: start;
}

.game-card .img-div {
  width: 100%;
}

.game-card .img-div img {
  width: 100%;
  border-radius: 4px;
}



.game-card .type {
  color: #f5f5f599;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
  margin-top: 10px;
}

.game-card h5 {
  font-size: 14px;
  margin: 10px 0;
  font-weight: 400;
}

.game-card .price-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-card .discount,
.game-card-h .discount {
  background-color: #0074d4;
  font-size: 12px;
  padding: 8px;
  border-radius: 4px;
}

.game-card .actule-price {
  text-align: right;
}

.game-card .price-mrp {
  color: #6d6d6d;
  margin-bottom: 8px;
}

.game-card .price-mrp del {
  color: #6d6d6d;
}

.game-banners {
  display: flex;
}

.banner-card {
  width: 500px;
  padding: 10px 20px;
}

.banner-card .detail {
  padding: 10px;
}

.banner-card img {
  width: 100%;
  border-radius: 5px;
}

.banner-card h3 {
  color: #f5f5f5;
  margin-bottom: 10px;
  font-weight: 300;
}

.banner-card p {
  color: #f5f5f599;
}

.game-columns-wrap {
  display: flex;
  justify-content: space-between;
}

.game-column {
  max-width: 30%;
}

.game-column .head {
  display: flex;
  color: #f5f5f5;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.game-column .head h5 {
  font-size: 18px;
  font-weight: 100;
}

button.view-more {
  padding: 10px 20px;
  background-color: transparent;
  color: #f5f5f5;
  border: 1px solid #f5f5f599;
  text-transform: uppercase;
  font-size: 8px;
  border-radius: 4px;
}

.game-card-h {
  color: #fff;
  padding: 20px;
  display: flex;
  border-radius: 20px;
  transition: 0.3s;
}

.game-card-h:hover {
  background: #2a2a2a;
}

.game-card-h img {
  width: 30%;
  border-radius: 5px;
}

.game-card-h .detail {
  padding: 10px;
  width: 70%;
}

.game-card-h .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  width: 100%;
}

.game-card-h .price {
  display: flex;
  margin: 10px 0;
  align-items: center;
}

.game-card-h .mrp {
  font-size: 12px;
  margin-right: 10px;
  color: #f5f5f599;
}

.game-card-h .main-price {
  margin-right: 10px;
  font-size: 12px;
}

.game-card-h .discount {
  font-size: 10px;
  margin-right: 10px;
}

@keyframes progress {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}